body{
    background-color: aqua;
}
#info{
   text-align: center;
}
p{
    text-align: center;
    font-size: 30px;
}
.signup{
    margin: auto;
    width: 50%;
    padding: 10px;
}
.signup2{
    background-color: lightblue;
}
#submit{
    margin-left: 100px;
}
#reset{
    margin-left: 0px;
}
